// Footer styles
footer {
    padding: 50px 0;
  
    p:first-child {
      font-weight: 500;
      font-size: 21px;
      line-height: 24px;
      color: $white-color;
      padding: 0 0 20px 0;
    }
  
    p:last-child {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: $white-color;
      padding: 0;
    }
  }
  