// Variables
$font-size: 16px;
$font: 'Roboto', sans-serif;
$black-color: #000;
$white-color: #fff;
$metallic-blue: #34547a;
$grey: #EEEFF1;
$nickel-color: #727272;
$gap: 20px;
$gap-lg: 40px;
$gap-sm: 10px;
$gap-lx: 80px;
